{% extends "base.html" %}
{% block content %}

      <div class="row" style="margin-bottom: 0;">
        <input type="hidden" id="hidden_var" name="" value={{varnm}}>
        <div class="col l6">
          {% if flag =="new" %}
            <h4 class="white-text">Add Variant <span style="font-size: 1.5rem;"t</span></h4>
          {% endif %}

          {% if flag =="update" %}
            <h4 class="white-text">Update Variant <span style="font-size: 1.5rem;"t</span></h4>
          {% endif %}
        </div>

      <form class="" action="{{url_for('save_config')}}" method="post">
        <div class="col l6">
          <!-- <a id="btn_save"><h4 class="waves-effect green waves-light btn-small right">SAVE<i class="material-icons "></i></h4></a> -->
          {% if flag =="new" %}
            <h4><button type="submit" name="button" id="btn_save" class="waves-effect green waves-light btn-small right">SAVE<i class="material-icons "></i></button></h4>
          {% endif %}

          {% if flag =="update" %}
            <h4><button type="submit" name="button" id="btn_save" class="waves-effect orange waves-light btn-small right">Update<i class="material-icons "></i></button></h4>
          {% endif %}
        </div>

      </div>

      <div class="divider"></div>
      <br>



      <div class="row" style="margin-top: 10px;">


        <div class="col l6">
          <fieldset style="border-color:black">
            <legend style="color:white;">&nbsp;New Variant Name&nbsp;</legend>
            <br>
          <div class="row">
            <div class="col l4">
              <span style="color:white;float:right">Variant Name   </span>
            </div>
            <div class="col l1">
              <span style="color:white">:</span>
            </div>
            <div class="col l6">
              <input style="color:white;margin-top:-60px" type="text" id="id_varnm" name="id_varnm" value="" required>
            </div>
          </div>
        </fieldset>
        <br>
          <fieldset style="border-color:black">
            <legend style="color:white;">&nbsp;Features&nbsp;</legend>
            <br>
            {% for fnm in features %}
            <div class="row">
              <div class="col l4">
                <span style="color:white;float:right">{{fnm | replace('\n', '')}}</span>
              </div>
              <div class="col l1">
                <span style="color:white">:</span>
              </div>
              <div class="col l6">
                <input style="color:white;margin-top:-60px" type="number" id="id_{{fnm | replace('\n', '')}}" name="id_{{fnm | replace('\n', '')}}" value="0" required>
              </div>
            </div>
            {% endfor %}
          </fieldset>
        </div>

        <div class="col l6">
          <fieldset style="border-color:black">
            <legend style="color:white;">Trigger Configuration</legend>
            <br>
            <div class="row">
              <div class="col l4">
                <span style="color:white;float:right">Trigger Length  </span>
              </div>
              <div class="col l1">
                <span style="color:white">:</span>
              </div>
              <div class="col l6">
                <input style="color:white;margin-top:-60px" type="number" id="id_trgr" name="id_trgr" value="" placeholder="800">
              </div>
            </div>

            <div class="row">
              <div class="col l4">
                <span style="color:white;float:right">Clamp Tirgger Length   </span>
              </div>
              <div class="col l1">
                <span style="color:white">:</span>
              </div>
              <div class="col l6">
                <input style="color:white;margin-top:-60px" type="number" id="id_clamp_trgr" name="id_clamp_trgr" value="" placeholder="510">
              </div>
            </div>

            <div class="row">
              <div class="col l4">
                <span style="color:white;float:right">Printere Trigger Lenght </span>
              </div>
              <div class="col l1">
                <span style="color:white">:</span>
              </div>
              <div class="col l6">
                <input style="color:white;margin-top:-60px" type="number" id="id_print_trgr" name="id_print_trgr" value="" placeholder="1240">
              </div>
            </div>
          </fieldset>
      </form>

          <br>
          <form action = "" method = "POST"  enctype = "multipart/form-data" id="myForm" >
          <fieldset style="border-color:black">
            <legend style="color:white;">&nbsp;Upload Variant Image&nbsp;</legend>

            <div class="row">
              <div class="col l8" style="margin: initial;">
                <div class="file-field input-field">
                  <div class="btn blue darken-3">
                    <span>File</span>
                    <input type="file" name="file"  id="file" accept="image/x-png,image/gif,image/jpeg">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload the standard Image">
                  </div>
                </div>
              </div>
              <div class="col l4">
          <button id="btn_upload" type="button" class="btn-small blue darken-3 waves-effect waves-light" style="height:45px;margin-top:13px"><i class="material-icons white-text">input</i></button>
              </div>
            </div>

            <div class="row">
              <div class="col l6">
                <img src="" id="prev_img" alt="" style="width:250px;height:155px; margin-top:-20px">
              </div>

            </div>

          </fieldset>
        </form>

        </div>

      </div>


  {% endblock %}

  {% block foot_js %}
  <script src="static/js/myjs/sweetalert.js"></script>
  <script type="text/javascript" src="static/js/socketio.js"></script>

  <script src="static/js/add_std_var.js"></script>

  {% endblock %}
