{% extends "base.html" %}
{% block content %}

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="#on_top">
    <i class="waves-effect large material-icons orange darken-2">arrow_upward</i>
  </a>
</div>

<div class="row" id="on_top">
  <div class="col l12">
    <h4 class="white-text">Analytics Report</h4>
    <div class="divider"></div>
  </div>
</div>

<div class="row">
  <div class="col l5">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header" >
          <i class="material-icons">restore</i>Today</div>
          <div class="collapsible-body white">
            <div class="row">
              <div class="col l9 ">
                <span>Good :</span><span id="t_good_count"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                <span>Bad :</span><span id="t_bad_count"></span>  &nbsp;&nbsp;&nbsp;&nbsp;
                <span>Total :</span><span id="t_total_count"></span> &nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col l1">
                <button type="button" id="btn_search_tdy" name="btn_search_tdy" class="btn green darken-3 right"><i class="material-icons">search</i></button>
              </div>

              <div class="col l2">
                <button type="button" class="btn green darken-3 right" onclick="atotbl('today_tbl')"><i class="material-icons ">archive</i></button>

              </div>



            </div>
            <div class="" style="overflow:scroll;height:480px;">

              <table class="highlight" id="today_tbl">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Variant Name</th>
                    <th>Time</th>
                    <th>Status</th>
                  </tr>
                </thead>

                  <tbody>

                  </tbody>


              </table>
            </div>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="material-icons">today</i>Within Date Range</div>
          <div class="collapsible-body white">
            <div class="row">
              <div class="col l4 input-field">
                <input type="text" class="datepicker" id="fromdate">
                <label for="fromdate">From Date</label>
              </div>
              <div class="col l4 input-field">
                <input type="text" class="datepicker" id="todate">
                <label for="todate">To Date</label>
              </div>
              <div class="col l2">
                <button type="button" id="btn_search" name="btn_search" class="btn green darken-3 right"><i class="material-icons">search</i></button>
              </div>
              <div class="col l1">
                <button type="button" onclick="atotbl('date_tbl')" name="btn_download" class="btn green darken-3"><i class="material-icons">archive</i></button>
              </div>
            </div>
            <span>Good :</span><span id="w_good_count"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Bad :</span><span id="w_bad_count"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Total :</span><span id="w_total_count"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="" style="overflow:scroll;height:411px;">
            <table class="highlight" id= "date_tbl">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Variant Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Status</th>
                </tr>
              </thead>

              <tbody>

              </tbody>
            </table>
            </div>
          </div>
        </li>

      </ul>

    </div>

    <div class="col l3">
      <div style="background-color: white; height: 710px; width: 300px; overflow-y: auto; position: fixed; margin-top: 7.5px;">
        <table class="highlight" id="detail_tbl">
          <thead style="background-color:black;color:white">
            <tr>
              <th>Class</th>
              <th>Std. Cnt</th>
              <th>Missing</th>
            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
      </div>
    </div>

    <div class="col l4">

          <div style=" margin-top: 7.5px;">
            <div class="" style="padding-top:15px;padding-bottom:15px;background-color: black;color:white;">
                <b style="margin-left:5px;">Detail</b>
            </div>
            <div class="" style="padding-top:15px;padding-bottom:15px;background-color: white;">
                <b style="font-size:18px;margin-left:5px">Total :&nbsp;</b><b id="total_cnt" style="font-size:18px"></b>
            </div>
          <div class="divider"></div>
             <div id="graph" style="background-color: white; height:600px; width: 391px; overflow-y: auto; position: fixed;"> </div>

           </div>


    </div>
  </div>

  {% endblock %}

  {% block foot_js %}
  <!-- <script type="text/javascript" src="static/js/html2canvas.js"></script> -->
  <script type="text/javascript" src="static/js/myjs/jspdf/libs/sprintf.js"></script>
  <script type="text/javascript" src="static/js/myjs/jspdf/jspdf.js"></script>
  <script type="text/javascript" src="static/js/myjs/jspdf/libs/base64.js"></script>
  <script type="text/javascript" src="static/js/myjs/jspdf/jspdf.debug.js"></script>
  <script type="text/javascript" src="static/js/myjs/jspdf/faker.min.js"></script>
  <script type="text/javascript" src="static/js/myjs/jspdf/jspdf.plugin.autotable.js"></script>
  <script type="text/javascript" src="static/js/myjs/jspdf/examples.js"></script>

  <script type="text/javascript" src="static/js/socketio.js"></script>

  <script src="static/js/analytics.js"></script>

  <script src="static/js/highcharts.js"></script>
  <script src="static/js/exporting.js"></script>
  <script src="static/js/accessibility.js"></script>

  <script src="static/js/report_graph.js"></script>

  <!-- <script src="static/js/pagination.js"></script> -->
  {% endblock %}
