<!DOCTYPE html>

<html lang="en">

<head>
  {% include "css.html" %}
  {% block head_js %}
  {% endblock %}
  <meta charset="utf-8">
  <title>Attendance System</title>

  <script>
  function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    var y = today.getFullYear();
    var mon = today.getMonth() + 1;
    var d = today.getDate();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('time').innerHTML = h + ":" + m + ":" + s + " | " + d + "-" + mon + "-" + y;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
</script>



</head>

<body onload="startTime()">

  <!-- header -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('streamer')}}" class="brand-logo">[A]</a>
        <span class="brand-logo center" id="time" style="font-size: 1rem;">00:00</span>
        <ul class="right">
          <li><b><span id="logged_user">{{session["username"]}}</span></b></li>
        </ul>
      </div>
    </nav>
  </div>


  <!-- side navigation -->
  <ul class="sidenav sidenav-fixed">
  <li>
      <a href="{{ url_for('streamer')}}" class="tooltipped" data-position="right" data-tooltip="Stream"><i class="{% if active=='inspect' %}small material-icons green-text{% else %}small material-icons white-text{%endif %}">search</i></a>
  </li>
    <li>
    <a href="{{ url_for('report')}}" class="tooltipped" data-position="right" data-tooltip="Report"><i class="{% if active=='analytics' %}small material-icons green-text{% else %}small material-icons white-text{%endif %}">description</i></a>
    </li>

   </ul>


  <div class="container" style="padding-left: 40px;">
    {% block content %}
    {% endblock %}
  </div>


  <!-- Importing js files -->

  {% include "js.html" %}
  <script>
  $(document).ready(function(){
    $('.modal').modal();
  });
  </script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.tooltipped').tooltip();
  });
  </script>
  <script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
  </script>
  <script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year
    format: 'yyyy-mm-dd' });

  });
  </script>
  <script>
    $('.dropdown-trigger').dropdown();
  </script>

  <script>
    $(document).ready(function(){
      $('select').formSelect();
    });
  </script>

  {% block foot_js %}
  {% endblock %}

</body>

</html>
