<!-- add css file here -->
<!-- <link rel="stylesheet" href="static/css/demo.css"> -->
<!-- <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/mycss/style.default.css" id="theme-stylesheet"> -->
<!-- <link rel="stylesheet" href="static/css/mycss/custom.css"> -->
<!-- <link rel="stylesheet" href="static/css/mycss/mycss.css">
<link rel="stylesheet" type="text/css" href="static/css/mycss/imgareaselect-default.css" />
<link rel="stylesheet" type="text/css" href="static/css/mycss/jquery_ui.css" />
<link rel="stylesheet" href="static/css/mycss/checkBox.css"> -->


<!--Import Google Icon Font-->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<!--Import materialize.css-->

<link type="text/css" rel="stylesheet" href="static/css/iconfont/material-icons.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="static/materialize/css/materialize.css"  media="screen,projection"/>
<!--Import internal base css-->
<link type="text/css" rel="stylesheet" href="static/css/mycss/base.css"/>
<!-- <link rel="stylesheet" href="static/css/jquery-ui.css"> -->
