{% extends "base.html" %}

{% block content %}
<form class="" action="{{url_for('hardware_save_config')}}" method="post">

<div class="row">
  <div class="col-md-12">
    <h3>Hardware Configuration</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <font style="size:14px">Encoder</font>

  </div>
</div>
  <hr>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-3">
    1 mm
  </div>
  <div class="col-md-1">
    :
  </div>
  <div class="col-md-3">
    <input type="number" step="0.01" id="txt_pulse" name="txt_pulse" class="form-control" name="" value="">
  </div>
  <div class="col-md-1">
    pulses
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <font style="size:14px">Distance</font>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-3">
    First trigger
  </div>
  <div class="col-md-1">
    :
  </div>
  <div class="col-md-3">
    <input type="number" step="0.01" id="txt_first_trigger" name="txt_first_trigger" class="form-control" name="" value="">
  </div>
  <div class="col-md-1">
    mm
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-3">
    Second trigger
  </div>
  <div class="col-md-1">
    :
  </div>
  <div class="col-md-3">
    <input type="number" step="0.01" id="txt_second_trigger" name="txt_second_trigger" class="form-control" name="" value="">
  </div>
  <div class="col-md-1">
    mm
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-3">
    Print trigger
  </div>
  <div class="col-md-1">
    :
  </div>
  <div class="col-md-3">
    <input type="number" step="0.01" id="txt_printer_trigger" name="txt_printer_trigger" class="form-control" name="" value="">
  </div>
  <div class="col-md-1">
    mm
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-3">

  </div>
  <div class="col-md-1">

  </div>
  <div class="col-md-3">
    <button type="submit" name="button" id="btn_hardware_config" name="btn_hardware_config" class="btn btn-success">Save</button>
  </div>
</div>
</form>
{% endblock %}
