{% extends "base.html" %}
{% block content %}

<div class="row">

  <div class="col l12">
    <h4 class="white-text">Help & Support</h4>
    <div class="divider"></div>
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col l5 right-align">
    <h5 class="white-text">Contact Yantra AI Technologies</h5>
  </div>
  <div class="col l1"></div>
  <div class="col l6 white-text">
    <p>Yantra Harvest Energy Pvt. Ltd.</p>
    <p>Riverside Business Bay, Wellesley Road</p>
    <p>Nr. RTO Office, Sangamwadi</p>
    <p>Pune, Maharashtra - INDIA</p>
  </div>
</div>

{% endblock %}
