{% extends "base.html" %}
{% block content %}
    <!-- Variant Selection module -->
    <div class="row">
        <br>
    <div class="row">
         <div class="col l6" style="color:white;font-size:30px">In Camera</div>
         <div class="col l6" style="color:white;font-size:30px">Out Camera</div>
    </div>
    <div class="row">
      <div class="col l6">
        <div class="container" style="background-color: white; height: 500px; width: 100%;">
          <img id="cam_in1" src="http://127.0.0.1:5001/video_feed" alt="" style="height: 100%; width:100%;border:3px solid #a7a7a7;">
        </div>
      </div>
      <div class="col l6">
        <div class="container" style="background-color: white; height: 500px; width: 100%;">
          <img id="cam_out1" src="http://127.0.0.1:5002/video_feed" alt="" style="height: 100%; width:100%;border:3px solid #a7a7a7;">

        </div>
      </div>
    </div>

  </div>

{% endblock %}
{% block foot_js %}
<link rel="stylesheet" href="static/css/jquery-ui.css">
<script src="static/js/jquery_ui.js"></script>
<script src="static/js/myjs/sweetalert.js"></script>
<script type="text/javascript" src="static/js/socketio.js"></script>

<script src="static/js/inspection.js"></script>

{% endblock %}
