<!-- add js file here -->
<!-- <script type="text/javascript" src="static/js/myjs.demo.js"></script> -->
<!-- <script type="text/javascript" src="static/js/myjs/jquery_org.js"></script>
<script src="static/vendor/popper.js/umd/popper.min.js"> </script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/myjs/clock.js"></script>
<script type="text/javascript" src="static/js/myjs/jquery.imgareaselect.pack.js"></script> -->

<script src="static/js/myjs/jquery-3.3.1.min.js"></script>


<script type="text/javascript" src="static/materialize/js/materialize.js"></script>


<!-- <script src="static/js/jquery_ui.js"></script -->
