{% extends "base.html" %}
{% block content %}

<div class="container center white-text" style="margin-top: 64px; border-radius: 4px;">
 <i class="medium material-icons grey-text">lock</i>
 <h4><pre><b>Permission Denied</b></pre></h4>
 <br>
 <pre>
   You do not have the permission to access the page.

   Either <a href="#" style="text-decoration: underline;">login</a> with priviledged access or <a href="#" style="text-decoration: underline;">contact</a> the administrator.


   <span style="font-size: 0.7rem;">All the options are diabled.</span>
 </pre>
</div>

{% endblock %}
