{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col l12">
    <h4 class="white-text">Report</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row" style="margin-top: 10px;">

  <div class="col l3">
    <div class="card small" style="height: 200px;">
      <div class="card-image">
        <img src="" alt="">
      </div>
      <div class="card-content" style="padding: 10px;">
        <span class="card-title">Variant Name</span>
      </div>
      <div class="card-action">
        <a href="#" class="green-text text-darken-3">ANALYTICS REPORT</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
