{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col l12">
    <h4 class="white-text">Report</h4>
    <div class="divider"></div>
  </div>
</div>
<div class="row white-text" style="margin-top: 10px; ">
  <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
         {% for item in result %}
           <tr>
            <td>{{item.name|title}}</td>
             {% if item.value == 0%}
                <td>Absent</td>
             {% else %}
                <td>Present</td>
             {% endif %}

          </tr>

          {% endfor %}

        </tbody>
      </table>

</div>

{% endblock %}
