{% extends "base.html" %}
{% block content %}
<div class="row" style="margin-bottom: 0px;">
  <div class="col l12">
    <h4 class="white-text">Variant Settings: <span style="font-size: 1.5rem;">(Hardware and software configuration)</span></h4>
  </div>
</div>
<div class="divider"></div>

  <!-- Hardware configuration-->
  <div class="row" style="margin: 10px;">
    <div class="col l2">
      <h6 style="color:white;">Part Length</h6>
    </div>
    <div class="col l2">
      <h6 style="color:white;">First trigger</h6>
    </div>
    <!-- <div class="col l2">
      <h6 style="color:white;">Seond trigger</h6>
    </div> -->
    <div class="col l2">
      <h6 style="color:white;">Printer trigger</h6>
    </div>
    <div class="col l2">
      <h6 style="color:white;">Clamping trigger</h6>
    </div>
  </div>
  <div class="row">
    <div class="col l2">
      <input type="number" id="variantlen" name="variantlen" placeholder="Length" class="white-text" value="{{len}}"></input>
    </div>
    <div class="col l2">
      <input type="number" id="trgr_first" name="trgr_first" placeholder="Trigger first" class="white-text" value="{{trgr_first}}"></input>
    </div>
    <!-- <div class="col l2">
      <input type="number" id="trgr_second" name="trgr_first" placeholder="Trigger second" class="white-text" value="{{trgr_second}}"></input>
    </div> -->
    <div class="col l2">
      <input type="number" id="printer_length" name="printer_length" placeholder="printer trigger length" class="white-text"  value="{{printer_len}}"></input>
    </div>
    <div class="col l2">
      <input type="number" id="clamping_length" name="clamping_length" placeholder="clamping length" class="white-text" value="{{clamping_len}}"></input>
    </div>
    <div class="col l2">
      <div class="input-field" style="margin: 0px;">
        <button id="btn_confirm" type="button" class="btn-small green darken-3 waves-effect waves-light">Confirm</button>
      </div>
    </div>
  </div>


{% endblock %}

{% block foot_js %}
<link rel="stylesheet" href="static/css/jquery-ui.css">
<script src="static/js/jquery_ui.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/imgareaselect-default.css" />
<script type="text/javascript" src="static/js/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript" src="static/js/socketio.js"></script>
<script src="static/js/myjs/sweetalert.js"></script>
<script src="static/js/variant_config.js"></script>

{% endblock %}
