{% extends "base.html" %}
{% block content %}

<div class="row">
 <div class="col l12 blue-grey-text text-lighten-4" style="margin-top: 50px;">
   <h3>Varroc Seat Inspection</h3>
   <div class="divider blue-grey lighten-3" style="margin: 2px;"></div>
   <h6 class="right">Developed by Yantra AI Technologies</h6>
 </div>
</div>

<div class="row">
 <div class="col l6 center">
   <img src="static/img/vlogo.png" alt="Varroc Logo" height="200px" width="200px">
 </div>
 <div class="col l6 center">
   <img src="static/img/y_logo.png" alt="Yantra Logo" height="200px">
 </div>
</div>

{% endblock %}

{% block foot_js %}

<script type="text/javascript" src="static/js/socketio.js"></script>
<!-- <script type="text/javascript" src="static/js/sweetalert.js"></script> -->

<script src="static/js/welcome.js"></script>

{% endblock %}
